<div class="container">
  <div class="row row-content" ng-controller="DishDetailController">
    <div class="col-xs-12" ng-if="!showDish">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showDish">
      <button class="btn btn-xs btn-primary pull-right"
          type="button" ui-sref="app.menu">
          Back to Menu
      </button>
      <div class="media">
        <div class="media-left">
          <a ui-sref="app.dishdetails({id: dish._id})">
            <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt="{{dish.name}}">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{dish.name}}
            <span class="label label-danger">{{dish.label}}</span>
            <span class="badge">{{dish.price | currency}}</span>
          </h2>
          {{dish.description}}
        </div>
      </div>
    </div>
    <div class="col-xs-9 col-xs-offset-1">
      <h4><strong>Customer Comments</strong> Sort by:   <input ng-model="sortCriteria"/> </h4>
        <blockquote ng-repeat="dishComment in dish.comments | orderBy : sortCriteria ">
          <p>{{dishComment.rating}} Stars</p>
          <p>{{dishComment.comment}}</p>
          <footer>{{dishComment.author}}, {{dishComment.date | date}}</footer>
        </blockquote>
    </div>

    <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
      <ul class="list-unstyled">
        <blockquote ng-show="!commentForm.$pristine">
          <p>{{mycomment.rating}} Stars</p>
          <p>{{mycomment.comment}}</p>
          <footer>{{mycomment.author}},</footer>
        </blockquote>
      </ul>

        <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
        <div class="form-group"  ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
          <label for="author" class="col-sm-2 control-label">Your Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
            ng-model="mycomment.author" required>
            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="starsNumber" class="col-sm-2 control-label">Number of Stars</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="starsNumber" id="rating1" name="rating1" value="1"
              ng-model="mycomment.rating" >1
            </label>
            <label class="radio-inline">
              <input type="radio" name="starsNumber" id="rating2" name="rating2" value="2"
              ng-model="mycomment.rating" >2
            </label>
            <label class="radio-inline">
              <input type="radio" name="starsNumber" id="rating3" name="rating3" value="3"
              ng-model="mycomment.rating" >3
            </label>
            <label class="radio-inline">
              <input type="radio" name="starsNumber" id="rating4" name="rating4" value="4"
              ng-model="mycomment.rating" >4
            </label>
            <label class="radio-inline">
              <input type="radio" name="starsNumber" id="rating5" name="rating5" value="5"
              ng-model="mycomment.rating" >5
            </label>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : commentForm.userComment.$error.required && !commentForm.userComment.$pristine }">
          <label for="userComment" class="col-sm-2 control-label">Your Comment</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="userComment"  name="userComment" rows="10"
              ng-model="mycomment.comment" required></textarea>
            <span ng-show="commentForm.userComment.$error.required && !commentForm.userComment.$pristine" class="help-block">Your comments are required.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
